/** MEDIDAS **/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Source+Sans+Pro:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto:wght@100&family=Source+Sans+Pro:ital,wght@1,200&display=swap");
.cBox {
  padding: 48px;
  background-color: #0d2033;
}

.productosindex {
  background-color: #0d2033;
  padding: 35px;
}
.productosindex .courses__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-family: "Bruno Ace", cursive;
  font-weight: bold;
}
.productosindex .courses__cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.productosindex .courses__cards .card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}
.productosindex .courses__cards .card .card__header img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}
.productosindex .courses__cards .card__tittle {
  margin-bottom: 20px;
  font-size: 20px;
}
.productosindex .courses__cards .card__description {
  margin-bottom: 40px;
}
.productosindex .courses__cards .card__link {
  background-color: #0f7d9e;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-align: center;
}

body {
  font-family: "Lato";
}

header {
  background-color: #394867;
  padding: 30px 20px;
}
header .navbar-brand {
  font-family: "Bruno Ace", cursive;
  font-size: 50px;
}
header #navbarNav {
  justify-content: end;
}
header .nav-item {
  font-size: 20px;
}

footer {
  background-color: #9BA4B5;
  text-align: center;
}

.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 50px;
  height: 50px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 .small {
  font-size: 15px;
}

@media (min-width: 48em) {
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
  .productosindex .courses__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .productosindex .courses__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .productosindex .courses__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .header {
    font-size: 15px;
  }
  .header__container-navbar {
    display: flex;
  }
  .header__container-navbar li {
    margin: 0 15px;
  }
  .header__container-navbar li a {
    color: #e2e8f0;
    font-weight: bold;
  }
  .header__container-navbar-mobile {
    display: none;
  }
}
body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  background-color: #0d2033;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0d2033;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0d2033;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #0d2033;
  border-color: #0d2033;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
button p {
  color: #fff;
  font-size: x-large;
}

span {
  color: #0d2033;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #0d2033;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #0f7d9e;
}
.formulario textarea:focus {
  outline: 0;
  border: 1px solid #0f7d9e;
}

/* MAPS */
.maps-mapa {
  display: grid;
  margin: 0 auto;
  border-bottom: 10px;
}

.header-nosotros {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}
.header-nosotros h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
  font-family: "Bruno Ace", cursive;
}
.header-nosotros h2 {
  font-weight: 300;
  color: #888;
  padding: 0;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}
.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card img {
  align-content: center;
}

.row {
  justify-content: center;
  background-color: #0d2033;
}
.row .col-sm-5 {
  background-color: #132e49;
}
.row .col-sm-5 .card .body .text-center {
  background-color: #0d2033;
  border-radius: 10px;
}
.row .col-sm-5 .card .body .text-center a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
