.cBox {
  padding: 48px;
  background-color: #0d2033;
}

.courses {
  margin-top: 60px;
  padding: 0 20px;
}

.productosindex {
  background-color: #0d2033;
  padding: 35px;
}
.productosindex .courses__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.productosindex .courses__cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.productosindex .courses__cards .card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}
.productosindex .courses__cards .card .card__header img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}
.productosindex .courses__cards .card__tittle {
  margin-bottom: 20px;
  font-size: 20px;
}
.productosindex .courses__cards .card__description {
  margin-bottom: 40px;
}
.productosindex .courses__cards .card__link {
  background-color: #0f7d9e;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-align: center;
}

body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  background-color: #0d2033;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0d2033;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0d2033;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #0d2033;
  border-color: #0d2033;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
button p {
  color: #fff;
  font-size: x-large;
}

span {
  color: #0d2033;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #0d2033;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #0f7d9e;
}
.formulario textarea:focus {
  outline: 0;
  border: 1px solid #0f7d9e;
}

.header-nosotros {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}
.header-nosotros h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
  font-family: "Bruno Ace", cursive;
}
.header-nosotros h2 {
  font-weight: 300;
  color: #888;
  padding: 0;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}
.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
