@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Source+Sans+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto:wght@100&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

* {

    margin: 0;
    padding: 0;
    /* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
    box-sizing: border-box;
}

/*
.header-nav {
    font-family: 'Bruno Ace', cursive;
    font-size: 50px;

}

.header__container-navbar {
    font-family: 'Roboto', sans-serif;
}
*/

ul {
    list-style-type: none;

}

p {
    line-height: 1.5;
}

body {
    font-family: 'Lato';
}

.header {
    background-color: #394867;
    padding: 30px 20px;
}

.navbar-brand {
    font-family: 'Bruno Ace', cursive;
    font-size: 50px;
    font-size: 50px !important;
}

#navbarNav {
    justify-content: end;
}

.nav-item {
    font-size: 20px;
}

/* CAROUSEL */

.cBox {
    padding: 48px;
    background-color: #0d2033;
}

/* FOOTER */

footer {
    background-color: #9BA4B5;
    text-align: center;
}

.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 50px;
    height: 50px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

/* TARJETAS */

.productosindex {
    background-color: #0d2033;
    padding: 35px;
}

.courses {
    margin-top: 60px;
    padding: 0 20px;
}

.courses__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.courses__cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}

.card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}

.card__title {
    margin-bottom: 20px;
    font-size: 20px;
}

.card__description {
    margin-bottom: 40px;
}

.card__link {
    background-color: #0f7d9e;
    color: #fff;
    font-weight: bold;
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
    display: block;
    text-align: center;
}

/* CONTACTO */



/* PEDIDOS */

.col-sm-3 {
    padding: 50px;
}

/* NOSOTROS */

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header-nosotros {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.header-nosotros h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
    font-family: 'Bruno Ace', cursive;
}

.header-nosotros h2 {
    font-weight: 300;
    color: #888;
    padding: 0;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

@media (min-width: 48em) {

    .header-nosotros,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (min-width: 768px) {
    .header__container-navbar {
        display: flex;
    }

    .header__container-navbar li {
        margin: 0 15px;
    }

    .header__container-navbar li a {
        color: #e2e8f0;
        font-weight: bold;
    }

    .header__container-navbar-mobile {
        display: none;
    }

    .courses__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 992px) {
    .hero__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .courses__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .header-nav {
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}