header {
    background-color: #394867;
    padding: 30px 20px;

    .navbar-brand {
        font-family: 'Bruno Ace', cursive;
        font-size: 50px;
    }

    #navbarNav {
        justify-content: end;
    }

    .nav-item {
        font-size: 20px;
    }

}

@media (min-width: $Smallquery) {

    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .productosindex {
        .courses__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: $Largequery) {

    .productosindex {
        .courses__cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: $Mediumquery) {
    .pie-pagina {
        .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }

    }

    .productosindex {
        .courses__cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    
    .header {
        font-size: 10px;

        .navbar-brand {
            box-sizing: border-box;
        }
    }

    .header__container-navbar {
        display: flex;
    }

    .header__container-navbar li {
        margin: 0 15px;
    }

    .header__container-navbar li a {
        color: #e2e8f0;
        font-weight: bold;
    }

    .header__container-navbar-mobile {
        display: none;
    }
    

}