@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Source+Sans+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto:wght@100&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

body {
    font-family: 'Lato';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@media (min-width: $Smallquery) {

    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .productosindex {
        .courses__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: $Largequery) {

    .productosindex {
        .courses__cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: $Mediumquery) {
    .pie-pagina {
        .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }

    }

    .productosindex {
        .courses__cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    
    .header {
        font-size: 10px;

        .navbar-brand {
            box-sizing: border-box;
        }
    }

    .header__container-navbar {
        display: flex;
    }

    .header__container-navbar li {
        margin: 0 15px;
    }

    .header__container-navbar li a {
        color: #e2e8f0;
        font-weight: bold;
    }

    .header__container-navbar-mobile {
        display: none;
    }
    

}